@page "/acercade"

<div class="about-container">
    <div class="about-card">
        <h2>Acerca de</h2>
        <p><strong>Página realizada por</strong></p>

        <img src="Images/Wikelson.jpg" alt="Imagen" style="width: 300px; height: 400px;" />

        <p>
            <strong>Nombre:</strong>
            Wikelson Diaz Alcantara
        </p>

        <p><strong>Matrícula:</strong> 2023-0974</p>
        <p><strong>Asignatura:</strong> Programación Web</p>

        <div class="contact-section">
            <p><strong>Contactos</strong></p>
            <a href="https://wa.me/8498471061">Whatsapp</a>
            <a href="https://t.me/WikelsonDiaz">Telegram</a>
        </div>
    </div>
</div>

